# ==========================
# SQL Server Database Files
# ==========================
*.mdf
*.ldf
*.ndf
*.bak
*.trn

# ==========================
# SQL Server Temp Files
# ==========================
*.log

# ==========================
# Visual Studio Code
# ==========================
.vscode/

# ==========================
# Windows
# ==========================
Thumbs.db
Desktop.ini

# ==========================
# Power BI Auto Recovery
# ==========================
*.pbix.autosave

# ==========================
# Python
# ==========================
__pycache__/
*.pyc

# ==========================
# Temporary Files
# ==========================
*.tmp
*.temp